html {
    box-sizing: content-box;
    background-color:#ffcc8e;
    user-select: text;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90%;
    height: 90%;
    padding: 2%;
    background-color: #6f87a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px #000000;
    border-top: solid 1px #000000;
    border-radius: 10px;
}

#calculator {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    box-sizing: border-box;
    width: 98%;
    height: 15%;
    margin-bottom: 5%;
    padding-right: 3%;
    background-color: #cacaca;
    color: #000000;
    box-shadow: inset 1px 1px 1px 1px #000000;
    font-size: 7vw;
    display: flex;
    align-items: center;
    flex-flow: row-reverse nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
}

#controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.button{
    margin: 1vw;
    padding: 0px;
    flex: 1;
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 7vw;
    background-color: #FFA12B;
    cursor: pointer;
    text-shadow: 0px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 #FFE5C4, 0 4px 0 #915100;
    user-select: none;
    touch-action: none;
    border-radius: 5px;
}

.button.wide {
    flex-basis: 25%;
}

.button:active{
    top:10px;
    background-color:#F78900;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    border-radius: 5px;
}
