html {
    box-sizing: content-box;
    background-color: #EEEEEE;
    font-family: Impact, Arial, Verdana;
    font-weight: 500;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    #container {
        width: 70%!important;
    }
}

@media only screen and (min-width: 900px) {
    #container {
        width: 50%!important;
    }
}

@media only screen and (min-width: 1500px) {
    #container {
        width: 30%!important;
    }
}

@media only screen and (min-height: 800px) {
    #container {
        height: 70%!important;
    }
}

#container {
    width: 92%;
    height: 92%;
    padding: 2%;
    margin-top: auto;
    background-color: #00ADB5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.75vh black;
    border-left: solid 0.20vw black;
    border-right: solid 0.20vw black;
    border-radius: 10px;
}

#calculator {
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    box-sizing: border-box;
    width: 98%;
    height: 1.5em;
    margin-bottom: 7%;
    padding-right: 3%;
    background-color: #c1d0e7;
    color: #1f262e;
    box-shadow: inset 0 0.3vh 0 #000000;
    font-size: 7vh;
    display: flex;
    align-items: center;
    flex-flow: row-reverse nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
    user-select: text;
    text-shadow: 0 0.3vh 0.1vh #000;
}

#controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.button-surround{
    position: relative;
    display: flex;
    width: 100%;
    height: 85%;
    margin: 1vmin;
    flex: 1;
}

.button-surround.wide {
    flex-basis: 25%;
}

.button{
    position: relative;
    color: white;
    font-size: 7vmin;
    background-color: #222831;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 0.2vmin 0 #b6cef5, 0 0.7vh 0 #393E46;
    border-radius: 5px;
    user-select: none;
    touch-action: none;
    border: none;
}


.button-surround button:active,
.pressing,
.button[data-input="divide"]:focus,
.button[data-input="multiply"]:focus,
.button[data-input="subtract"]:focus,
.button[data-input="add"]:focus {
    top: 0.7vh;
    background-color:#12171d;
    box-shadow: inset 0 0.2vmin 0 #b6cef5, inset 0 -0.35vh 0 #393E46;
}

.button-surround:after{
    content: "";
    height: 100%;
    width: 100%;
    padding: 0.3vw;
    left: -0.3vw;
    bottom: -1.4vh;
    position: absolute;
    z-index: -1;
    background-color: #181a1d;
    border-radius: 5px;
}

.button-green {
    color: #00ff15!important;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-top: auto;
}

#footer button {
    background-color: #000000;
    color: white;
    user-select: none;
    touch-action: none;
    border: none;
    font-size: large;
    padding: 0.5%;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.dark-mode {
    background-color: #0B0B0D!important;
    color: #ddddee!important;
}

.dark-mode-display {
    background-color: #16161b!important;
    color: #ddddee!important;
}

.dark-mode-buttons {
    background-color: #ddddee!important;
    box-shadow: inset 0 0.2vmin 0 #929AAB, 0 0.7vh 0 #474A56;
    color: black!important;
    content: none !important;
}

.dark-mode-buttons:active,
.pressing-dark,
.button[data-input="divide"][class*="dark-mode-buttons"]:focus,
.button[data-input="multiply"][class*="dark-mode-buttons"]:focus,
.button[data-input="subtract"][class*="dark-mode-buttons"]:focus,
.button[data-input="add"][class*="dark-mode-buttons"]:focus {
    top: 0.7vh!important;
    box-shadow: inset 0 0.2vmin 0 #929AAB, inset 0 -0.35vh 0 #474A56!important;
    background-color: #b4b4b4!important;
}

.dark-mode-content::after {
    background-color: #000!important;
    box-shadow: inset 0 0.2vmin 0 #929AAB, inset 0 -0.35vh 0 #0B0B0D!important;
}
